{% extends 'layouts/_datepicker_layout.html' %}
{% block container %}
  <div class="page-header">
    <h3>Event Chat</h3>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>

  <div class="row">
    <div class="col-sm-1 col-md-1">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
{% endblock %}
