{% extends 'layouts/boilerplate.html' %}
{% block container %}
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3">{{ event.name }}</div>
    <div class="col-sm-3 col-md-2">{{ event.start_date.strftime('%m-%d-%Y') }}</div>
    <div class="col-sm-3 col-md-2">{{ event.end_date.strftime('%m-%d-%Y') }}</div>
    <div class="col-sm-3 col-md-1">
      <a href="{{ url_for('events.update', event_id=event.id) }}" class="btn btn-xs btn-info">
        Edit
      </a>
    </div>
    <div class="col-sm-3 col-md-1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12"><strong>Name: </strong>{{ item.name }}</div>
  </div>
    {% for item in items %}
      <div class="row">
        <div class="col-sm-5 col-md-3">Name: {{ item.name }}</div>
        <div class="col-sm-5 col-md-2">Quantity: {{ item.quantity }}</div>
      </div>
    {% endfor %}

{% endblock %}
