{% extends 'layouts/layout_jsmvc_events.html' %}
{% block container %}
  <div class="jumbotron">
    <h2>Create Event</h2>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  {% raw %}
  <div class="top-pad" ng-app="eventsApp" ng-controller="formCtrl">
    <form name="baseForm" role="form" novalidate ng-cloak>
      <!--
      <h3>Directive Form</h3>
      <entry-row></entry-row>
      <button type="button" class="btn btn-primary" ng-click="submitForm()">Submit</button>
      -->
      <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction,longStage: longStage}">
        <div class="animate-switch" ng-switch-default>
          <p>Welcome to the form.</p>
          <button type="button" class="btn btn-primary" ng-click="next('stage1')">Next</button>
        </div>
        <div class="animate-switch" ng-switch-when="stage1">
          <div class="row">
            <div class="col-sm-5 col-md-6">
              <div class="form-group">
                <label for="tb-title">Title:</label>
                <input type="text" class="form-control" id="tb-title" ng-model="params.title">
              </div>
            </div>
            <div class="col-sm-7 col-md-6">&nbsp;</div>
          </div>
          <button type="button" class="btn btn-info" ng-click="back('')">Back</button>
          <button type="button" class="btn btn-primary" ng-click="next('stage2')">Next</button>
        </div>
        <div class="animate-switch" ng-switch-when="stage2">
          <div class="row">
            <div class="col-sm-5 col-md-6">
              <div class="form-group">
                <label for="tb-address">Address:</label>
                <input type="text" class="form-control" id="tb-address" ng-model="params.address">
              </div>
            </div>
            <div class="col-sm-7 col-md-6">&nbsp;</div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-md-4">
              <div class="form-group">
                <label for="tb-city">City:</label>
                <input type="text" class="form-control" id="tb-city" ng-model="params.city">
              </div>
            </div>
            <div class="col-sm-2 col-md-2">
              <div class="form-group">
                <label for="tb-state">State:</label>
                <input type="text" class="form-control" id="tb-state" ng-model="params.state">
              </div>
            </div>
            <div class="col-sm-3 col-md-4">
              <div class="form-group">
                <label for="tb-zip-code">Zip Code:</label>
                <input type="text" class="form-control" id="tb-zip-code" ng-model="params.zip_code">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 col-md-4">
              <div class="form-group">
                <label for="tb-country">Country:</label>
                <input type="text" class="form-control" id="tb-country" ng-model="params.country">
              </div>
            </div>
            <div class="col-sm-9 col-md-8">&nbsp;</div>
          </div>
          <button type="button" class="btn btn-info" ng-click="back('stage1')">Back</button>
          <button type="button" class="btn btn-primary" ng-click="next('stage3')">Next</button>
        </div>
        <div class="animate-switch" ng-switch-when="stage3">
          <div class="row">
            <div class="col-sm-5 col-md-6">
              <div class="form-group">
                <label for="tb-start-date">Start Date:</label>
                <input type="text" class="form-control" id="tb-start-date"
                       placeholder="Disabled for now. Filler used."
                       ng-model="params.start_date"
                       disabled>
              </div>
            </div>
            <div class="col-sm-7 col-md-6">&nbsp;</div>
          </div>
          <div class="row">
            <div class="col-sm-5 col-md-6">
              <div class="form-group">
                <label for="tb-end-date">End Date:</label>
                <input type="text" class="form-control" id="tb-end-date"
                       placeholder="Disabled for now. Click Next."
                       ng-model="params.end_date"
                       disabled>
              </div>
            </div>
            <div class="col-sm-7 col-md-6">&nbsp;</div>
          </div>
          <button type="button" class="btn btn-info" ng-click="back('stage2')">Back</button>
          <button type="button" class="btn btn-primary" ng-click="next('stage4')">Next</button>
        </div>
        <div class="animate-switch" ng-switch-when="stage4">
          <div class="row">
            <div class="col-sm-5 col-md-6">
              <div class="form-group">
                <label for="tb-guest-email">Guest email:</label>
                <input type="text"
                       id="tb-guest-email"
                       class="form-control"
                       ng-model="params.guestEmail" />
              </div>
            </div>
            <div class="col-sm-7 col-md-6">
              <div>&nbsp;</div>
              <button type="button" class="btn btn-xs btn-warning" ng-click="addGuestEmail()">Add</button>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12">&nbsp;</div>
            </div>
          </div>
          <div class="row" ng-hide="params.guests.length > 0">
            <div class="col-sm-5 col-md-6">
              No guest email addresses added, yet.
            </div>
          </div>
          <!--
          <div ng-repeat="e in params.guests">
            <div class="row">
              <div class="col-sm-5 col-md-6">
                {{ e.email }} <button type="button" class="btn btn-danger btn-xs" ng-click="removeGuestEmail(e.row_id)">Remove</button>
              </div>
            </div>
          </div>
          -->
          <div class="row">
            <div class="col-md-12">
              <pre> {{ params.guests | json }}</pre>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12">&nbsp;</div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-12">
              <button type="button" class="btn btn-info" ng-click="back('stage3')">Back</button>
              <button type="button" class="btn btn-primary" ng-click="next('stage5')">Next</button>
            </div>
          </div>
          <!--
          <div class="row">
            <div class="col-md-12">
              <pre> {{ params | json }}</pre>
            </div>
          </div>
          -->
        </div>
        <div class="animate-switch" ng-switch-when="stage5">
          <div class="row">
            <div class="col-sm-6 col-md-6">
              Event title: {{ params.title }}
            </div>
          </div>
          <div class="row">
            &nbsp;
          </div>
          <!--
          <div class="row">
            <pre> {{ params | json }}</pre>
          </div>
          -->
          <button type="button" class="btn btn-info" ng-click="back('stage4')">Back</button>
          <button type="button" class="btn btn-primary" ng-click="submitForm()">Submit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">&nbsp;</div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
    </div>
  </div>
  {% endraw %}
{% endblock %}
