{% extends 'layouts/boilerplate.html' %}
{% block container %}
  <div class="jumbotron">
    <h2>Events</h2>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <p>
      <a href="{{ url_for('events.create_event') }}" class="btn btn-sm btn-primary">
        Create Event
      </a>
    </p>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Your Events</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-4"><strong>Title</strong></div>
    <div class="col-sm-3 col-md-3"><strong>Start</strong></div>
    <div class="col-sm-3 col-md-3"><strong>End</strong></div>
    <div class="col-sm-3 col-md-1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
    {% for data in events %}
      <div class="row">
        <div class="col-sm-3 col-md-4">{{ data.title }}</div>
        <div class="col-sm-3 col-md-3">{{ data.start_date }}</div>
        <div class="col-sm-3 col-md-3">{{ data.end_date }}</div>
        <div class="col-sm-3 col-md-1">
          <a href="{{ url_for('events.show', event_id=data.id) }}" class="btn btn-xs btn-info">
            View
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">&nbsp;</div>
      </div>
    {% endfor %}
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Invited To</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-4"><strong>Title</strong></div>
    <div class="col-sm-3 col-md-3"><strong>Start</strong></div>
    <div class="col-sm-3 col-md-3"><strong>End</strong></div>
    <div class="col-sm-3 col-md-1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
    {% for data in events_invited %}
      <div class="row">
        <div class="col-sm-3 col-md-4">{{ data.title }}</div>
        <div class="col-sm-3 col-md-3">{{ data.start_date }}</div>
        <div class="col-sm-3 col-md-3">{{ data.end_date }}</div>
        <div class="col-sm-3 col-md-1">
          <a href="{{ url_for('events.show', event_id=data.id) }}" class="btn btn-xs btn-info">
            View
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">&nbsp;</div>
      </div>
    {% endfor %}
{% endblock %}
