{% extends 'layouts/boilerplate.html' %}
{% block container %}
  <div class="jumbotron">
    <h2>Events</h2>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <a href="{{ url_for('events.create') }}" class="btn btn-sm btn-primary">
        Create Event
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h4><strong>Your Events</strong></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  {% if events_count > 0 %}
    <div class="row">
      <div class="col-sm-3 col-md-3"><strong>Name</strong></div>
      <div class="col-sm-3 col-md-3"><strong>Start</strong></div>
      <div class="col-sm-3 col-md-3"><strong>End</strong></div>
      <div class="col-sm-1 col-md-1">&nbsp;</div>
      <div class="col-sm-2 col-md-2">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">&nbsp;</div>
    </div>
    {% for event in events %}
      <div class="row">
        <div class="col-sm-3 col-md-3">{{ event.name }}</div>
        <div class="col-sm-3 col-md-3">{{ event.start_date.strftime('%m-%d-%Y %H:%M %p') }}</div>
        <div class="col-sm-3 col-md-3">{{ event.end_date.strftime('%m-%d-%Y %H:%M %p') }}</div>
        <div class="col-sm-1 col-md-1">
          <a href="{{ url_for('events.show', event_id=event.id) }}" class="btn btn-xs btn-info">
            View
          </a>
        </div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-12">&nbsp;</div>
      </div>
    {% endfor %}
  {% else %}
    <div class="row">
      <div class="col-sm-12 col-md-12">
        You have no active events.
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h4><strong>Invited To</strong></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  {% if events_invited_count > 0 %}
    <div class="row">
      <div class="col-sm-3 col-md-3"><strong>Name</strong></div>
      <div class="col-sm-3 col-md-3"><strong>Start</strong></div>
      <div class="col-sm-3 col-md-3"><strong>End</strong></div>
      <div class="col-sm-1 col-md-1">&nbsp;</div>
      <div class="col-sm-2 col-md-2">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">&nbsp;</div>
    </div>
    {% for event in events_invited %}
      <div class="row">
        <div class="col-sm-3 col-md-3">{{ event.name }}</div>
        <div class="col-sm-3 col-md-3">{{ event.start_date.strftime('%m-%d-%Y %H:%M %p') }}</div>
        <div class="col-sm-3 col-md-3">{{ event.end_date.strftime('%m-%d-%Y %H:%M %p') }}</div>
        <div class="col-sm-1 col-md-1">
          <a href="{{ url_for('events.show', event_id=event.id) }}" class="btn btn-xs btn-info">
            View
          </a>
        </div>
        <div class="col-sm-2 col-md-2">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">&nbsp;</div>
      </div>
    {% endfor %}
  {% else %}
    <div class="row">
      <div class="col-sm-12 col-md-12">
        You have not been invited to any events.
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-12">&nbsp;</div>
  </div>
{% endblock %}
