{% extends 'layouts/events/host.html' %}
{% block title %}Events Host - {{ event.name }}{% endblock %}
{% block container %}
  <div class="jumbotron">
    <h2>Host View</h2>
  </div>
  <div class="page-header">
    <h3>{{ event.name }}</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h4><strong>Details</strong></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <strong>Location</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">{{ event.address }}</div>
  </div>
    {% if event.address_line_two %}
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">{{ event.address_line_two }}</div>
      </div>
    {% endif %}
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-5">
        {{ event.city }}, {{ event.state }} {{ event.zip_code }}
    </div>
    <div class="col-xs-8 col-sm-8 col-md-7">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <strong>Time</strong>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-3">Start</div>
    <div class="col-xs-2 col-sm-2 col-md-3">End</div>
    <div class="col-xs-2 col-sm-2 col-md-2">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-3 col-sm-3 col-md-3">
        {{ moment(event.start_date).format('MM-D-YYYY, h:mm a') }}
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3">
        {{ moment(event.end_date).format('MM-D-YYYY, h:mm a') }}
    </div>
    <div class="col-xs-3 col-sm-3 col-md-2">
        {% if event.user_id == u_id %}
          <a href="{{ url_for('events.update', event_id=event.id) }}" class="btn btn-primary btn-xs">
            Edit Details
          </a>
        {% endif %}
    </div>
    <div class="col-xs-3 col-sm-3 col-md-1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <!--
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <h4><strong>Guests</strong></h4>
    </div>
  </div>
    {% for g in event.guests %}
      <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-12">{{ g.email }}</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
      </div>
    {% endfor %}
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
  </div>
  -->
  {% raw %}
    <div class="top-pad" ng-app="eventsApp" ng-controller="eventsCtrl" ng-cloak>
      <form name="eventsForm" role="form" novalidate>
        <div class="animate-switch-host-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction,longStage: longStage}">
          <div class="animate-switch" ng-switch-default>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <h4><strong>Guests</strong></h4>
              </div>
            </div>
            <!-- Guests -->
            <div ng-repeat="guest in params.guest_data">
              <guest-row
                host-id="params.u_id"
                guest="guest"
                toggle-edit="toggleEdit"
                toggle-remove="toggleRemove">

              </guest-row>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <h4><strong>Items</strong></h4>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
            </div>
            <!-- Items -->
            <div ng-repeat="item in params.items_data">
              <item-row
                ng-if="item.active === true"
                item="item"
                host-id="params.u_id">

              </item-row>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <h4><strong>Removed Items</strong></h4>
              </div>
            </div>
            <div ng-repeat="item in params.items_data">
              <item-row ng-if="item.active === false" item="item" host-id="params.u_id"></item-row>
            </div>
            <!-- End Items -->
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-sm-2 col-md-2">
                <button type="button" class="btn btn-primary btn-sm" ng-click="claimItems()">
                  Claim Items
                </button>
              </div>
              <div class="col-xs-5 col-sm-5 col-md-5">&nbsp;</div>
            </div>
          </div>
          <div class="animate-switch" ng-switch-when="loading">
            <div class="success-wrap">
              <h2 class="confirmation-text">Updating items...</h2>
            </div>
          </div>
          <div class="animate-switch" ng-switch-when="success">
            <div class="success-wrap">
              <h2 class="confirmation-text">Thank you</h2>
              <p>Your message has been sent.<br>You should receive a confirmation email.</p>
              <div><button type="button" class="btn btn-success btn-lg" ng-click="reset()" >Send Another</button></div>
            </div>
          </div>
          <div class="animate-switch" ng-switch-when="error">
            <div class="error-wrap">
              <h2 class="confirmation-text">Error</h2>
              <p>There was an error when attempting to submit your request.<br>Please try again later.</p>
              <p><strong>*This will always error until a web service URL is set.*</strong></p>
              <div><button type="button" class="btn btn-danger btn-lg" ng-click="reset()" >Try again</button></div>
            </div>
          </div>
        </div>
      </form>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
          <button type="button" class="btn btn-sm btn-info" ng-click="toggleEventObjView = !toggleEventObjView">
            Toggle JSON
          </button>
          <div>&nbsp;</div>
          <pre ng-show="toggleEventObjView">{{ params | json }}</pre>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
      </div>
    </div>
  {% endraw %}
  <div class="row">
    <div class="col-xs-5 col-sm-5 col-md-5">&nbsp;</div>
    <div class="col-xs-1 col-sm-1 col-md-1">
      <a href="{{ url_for('events.index') }}" class="btn btn-warning btn-sm">
        Back
      </a>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
  </div>
{% endblock %}
