{% extends 'layouts/boilerplate.html' %}
{% block container %}
  <div class="page-header">
    <h2>Profile</h2>
    <p>Hi, {{ current_user.first_name }}!
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <strong>Full name:</strong>&nbsp;{{ current_user.first_name }}&nbsp;{{ current_user.last_name }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <strong>Date of birth:</strong>&nbsp;{{ current_user.birth_date.strftime('%m-%d-%Y') }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <strong>Email:</strong>&nbsp;{{ current_user.email }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <strong>Last login:</strong>&nbsp;{{ current_user.last_login_at.strftime('%m-%d-%Y') }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2">
      <p>
        <a href="{{ url_for('user.update') }}" class="btn btn-info btn-sm">Edit Profile</a>
      </p>
    </div>
  </div>
{% endblock %}
