{% extends 'layouts/boilerplate.html' %}
{% block container %}
  <div class="jumbotron">
    <h1>Create Entry</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Flask Form</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-6">
      {% from "macros/_formhelpers.html" import render_field_with_errors, render_field %}
      <form method="POST" action="{{url_for('entries.create_entry')}}">
          {{ form.csrf_token }}
        <div class="form-group">
          {{ render_field_with_errors(form.title, size=20, class='form-control') }}
        </div>
        <div class="form-group">
          {{ render_field_with_errors(form.body, size=20, class='form-control') }}
        </div>
        <input type="submit" value="Create" class="btn btn-sm btn-success">
      </form>
    </div>
    <div class="col-sm-3 col-md-6">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="{{ url_for('entries.display_entries') }}" class="btn btn-xs btn-warning">
        Cancel
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  {% raw %}
  {% endraw %}
{% endblock %}
