{% extends 'layouts/boilerplate.html' %}
{% block container %}
  <div class="jumbotron">
    <h1>Entry {{ entry.title }}</h1>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3">Title</div>
    <div class="col-sm-3 col-md-2">Post Date</div>
    <div class="col-sm-9 col-md-5">Body</div>
    <div class="col-sm-3 col-md-1">&nbsp;</div>
    <div class="col-sm-3 col-md-1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-md-3">{{ entry.title }}</div>
    <div class="col-sm-3 col-md-2">{{ entry.post_date.strftime('%m-%d-%Y') }}</div>
    <div class="col-sm-3 col-md-5">{{ entry.body }}</div>
    <div class="col-sm-3 col-md-1">
      <a href="{{ url_for('entries.update', entry_id=entry.id) }}" class="btn btn-xs btn-info">
        Edit
      </a>
    </div>
    <div class="col-sm-3 col-md-1">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  <div class="row">
    <div class="col-md-12"><h4>Tags</h4></div>
  </div>
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
  {% for t in tags %}
    <div class="row">
      <div class="col-md-3">Description: {{ t.description }}</div>
      <div class="col-md-3">Category: {{ t.category }}</div>
      <div class="col-md-6">&nbsp;</div>
    </div>
  {% endfor %}
  <div class="row">
    <div class="col-md-12">&nbsp;</div>
  </div>
{% endblock %}
