<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Flask App</title>
  <meta name="description" content="Flask App">
  <meta name="viewport" content="width=device-width">
  <link href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('home') }}">{{ _('Flask App') }}</a>
      </div>
      <div>
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="#">Tab 1</a></li>
          <li><a class="navbar-brand" href="#">Tab 2</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.has_role('admin') %}
            <li><a class="navbar-brand" href="{{ url_for('admin.index') }}">{{ _('Admin') }}</a></li>
          {% endif %}
          {% if not user.is_authenticated() %}
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> {{ _('Log In') }}</a></li>
          {% else %}
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> {{ _('Log Out') }}</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    {% include "_nav.html" %}
    {% block container %}{% endblock -%}
    <footer class="footer">
      
    </footer>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
  
</body>
</html>
