<!DOCTYPE html>

<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>Base App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400' rel='stylesheet' type='text/css'>
    <!-- Page styles -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/styles.css">
  </head>
  <body>
  <main>
    <div class="container">
      <div class="top-pad" ng-app="baseApp" ng-controller="formCtrl">
        <form name="baseForm" role="form" novalidate ng-cloak>
          <!--
          <h3>Directive Form</h3>
          <entry-row></entry-row>
          <button type="button" class="btn btn-primary" ng-click="submitForm()">Submit</button>
          -->
          <div class="row">
            <div class="col-md-12">&nbsp;</div>
          </div>
          <h3>Ng-Switch Form</h3>
          <div class="animate-switch-container" ng-switch on="stage" ng-class="{forward: direction, backward:!direction,longStage: longStage}">
            <div class="animate-switch" ng-switch-default>
              <p>Welcome to the form.</p>
              <button type="button" class="btn btn-primary" ng-click="next('stage1')">Next</button>
            </div>
            <div class="animate-switch" ng-switch-when="stage1">
              <div class="form-group">
                <label for="tb-title">Title:</label>
                <input type="text" class="form-control" id="tb-title" ng-model="params.title">
              </div>
              <button type="button" class="btn btn-info" ng-click="back('')">Back</button>
              <button type="button" class="btn btn-primary" ng-click="next('stage2')">Next</button>
            </div>
            <div class="animate-switch" ng-switch-when="stage2">
              <div class="form-group">
                <label for="tb-body">Body:</label>
                <input type="text" class="form-control" id="tb-body" ng-model="params.body">
              </div>
              <button type="button" class="btn btn-info" ng-click="back('stage1')">Back</button>
              <button type="button" class="btn btn-primary" ng-click="next('stage3')">Next</button>
            </div>
            <div class="animate-switch" ng-switch-when="stage3">
              <div class="row">
                <div class="col-md-12">{{params.title}}</div>
              </div>
              <div class="row">
                <div class="col-md-12">{{params.body}}</div>
              </div>
              <button type="button" class="btn btn-info" ng-click="back('stage2')">Back</button>
              <button type="button" class="btn btn-primary" ng-click="submitForm()">Submit</button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">&nbsp;</div>
          </div>
        </form>
        <div class="row">
          <div class="col-md-12">&nbsp;</div>
        </div>
      </div>
    </div>
  </main>

  <footer></footer>

  <!-- JS Library files -->
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/angular-route/angular-route.min.js"></script>

  <!-- AngularJS Project files -->
  <script defer src="scripts/templates.js"></script>
  <script defer src="scripts/main.js"></script>
  <script defer src="scripts/index/index.js"></script>
  <script defer src="scripts/index/controllers.js"></script>
  <script defer src="scripts/index/directives.js"></script>
  <script defer src="scripts/create/form.js"></script>
  <script defer src="scripts/create/controllers.js"></script>
  <script defer src="scripts/create/directives.js"></script>
  </body>
</html>
